.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 50%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.skin-blue .main-header .logo {
  background-color: #282c2f;
  line-height: 30px;
  padding-top: 12px;
  
  }
                
.skin-blue .main-header .logo:hover {
  background-color: #3a95e296;

}
                
.skin-blue .main-header .navbar .nav>li:active a {
  background-color: green ;
  border-color: green;  background-color: rgb(192,192,192);
  color: rgb(255,255,255);font-weight: bold;font-size: 18px;
  
}

.skin-blue .main-header .navbar{
  background-color: #282c2f;

}

.skin-blue .main-header .navbar .nav > li > a:hover {
  background-color: #3a95e296;
}

.skin-blue .main-header .navbar .nav > li > a:focus {
background-color: #3a95e296;
}



.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}
       
/* main sidebar */
.skin-blue .main-sidebar {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 25px; 
  width:230px; 
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff; 
  font-family: sans-serif;

}

.nav>li[class=active] > a {
  background-color: #282c2f !important;
  }


.skin-blue .wrapper .main-header .navbar .navbar-custom-menu {
  float: left;
  
}
.skin-blue .main-header .navbar .sidebar-toggle {
  display: none;
}


#refresh1 {
    display:block;
    text-align:center;
    position: absolute;
    right: 10px;
    }

#refresh1 a:hover {
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    padding-top: 9px;
    padding-bottom: 2px;
}


#preloader_4{
    position:relative;
}
#preloader_4 span{
    position:absolute;
    width:20px;
    height:20px;
    background:#3498db;
    opacity:0.5;
border-radius:20px;
    -animation: preloader_4 1s infinite ease-in-out;
 
}
#preloader_4 span:nth-child(2){
    left:20px;
    animation-delay: .2s;
}
#preloader_4 span:nth-child(3){
    left:40px;
    animation-delay: .4s;
}
#preloader_4 span:nth-child(4){
    left:60px;
    animation-delay: .6s;
}
#preloader_4 span:nth-child(5){
    left:80px;
    animation-delay: .8s;
}
@keyframes preloader_4 {
    0% {opacity: 0.3; transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; transform: translateY(-10px); background:#f1c40f;  box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  {opacity: 0.3; transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}


.box.box-primary {
    border-top-color: #3c8dbc;
    height: 643px;
}

.btn.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}


.btn-danger {
    background-color: black;
    border-color: black;
}


.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left:auto;
    right:0;
    margin-right:-10px;
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: black;
    border-color: black;
}


.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #444;
    border-color: #761c19;
}


.nav>li[class=active] > a {
    background-color: #1c1c1d !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom:5px;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    inline-size: -webkit-fill-available;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-left: auto;
    font-size: 14px;
    text-align: left;
    list-style: none;
    width: 100%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 10px 20px rgba(0,0,0,.175);
}


#menu-drpdwn {
    display:block;
    text-align:center;
    position: absolute;
    right: 10px;
    text-decoration: none;
 min-height:20px;

    }

#menu-drpdwn a:hover a + .hidden, .hidden:hover {
display: block;
}

